* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: #e1e1e0;
  cursor: default;
  background-color: #313b46;
}
body.ondrag {
  background-color: #3f4c5a;
}

body, input, button {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#title {
  height: 38px;
  color: #c0bfbd;
  line-height: 38px;
  user-select: none;
  text-align: center;
  position: relative;
  -webkit-app-region: drag;
  background-color: #38424c;
  border-bottom: 1px solid #000;
}
#gear {
  top: 9px;
  right: 9px;
  width: 20px;
  height: 20px;
  position: absolute;
}

#views {
  height: calc(100% - 38px);
}
#views .view {
  height: 100%;
  display: none;
}
#views .view.show {
  display: block;
}

#dropHereView, #settingsView {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropHereView {
  font-size: 16px;
  line-height: 26px;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

#settingsView {
}

.mt {
  margin-top: 8px;
}
.mt:first-child {
  margin-top: 0;
}

label {
  display: block;
}

input, button {
  border: none;
  display: block;
  border-radius: 4px;
}

input {
  width: 200px;
  margin-top: 4px;
  padding: 4px 8px;
}
input:focus {
  background-color: #eee;
}

button {
  color: #fff;
  float: right;
  margin-top: 16px;
  padding: 4px 16px;
  background-color: #28a745;
}
button:active {
  background-color: #1e7e34;
}
